.h1{
text-align: center;
font-size: 35px;
background-color: rgb(33, 32, 32);
margin: 0px;
padding: 5px;
letter-spacing: 2px;
font-weight: bold;
color: #fff;
}

.link{
    text-decoration: none;
}
.swiper {
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -9;
  }
  
  .swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
  }
  
  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
  
  .swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
    
  }
  
  .swiper-slide .subtitle {
    font-size: 21px;
  }
  
  .swiper-slide .text {
    font-size: 16px;
    max-width: 400px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: white;
    font-weight: bold;
  }

  .mySwiper{
    height: 80vh;
  }

  .principle{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 300px;
  }

  .principleImage>img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
   margin-right: 60px;
  }

  .principle .principleDetails{
    width: 60%;
    line-height: 30px;
    font-size: 17px;
    color: gray;
  }
  .principle .principleImage{
    width: 25%;
  }


  .teacherContainer>h1:hover{
    color: seagreen;
  }
 
.teacherContainer{
  margin-top: 50px;
  margin-bottom: 30px;
  
}

.teacherContainer>h1{
  text-align: center;
  color: rgb(71, 68, 68);
}
  .teachers{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    text-align: center;
    width: 95%;
    margin: auto;
  }
.imageContainer>img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .schoolImages .mySwiper{
    background-color: rgb(167, 159, 159);
  }

  
@media screen  and (min-width:360px) and (max-width:760px){
  .teachers{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    width: 90%;
        margin: auto;
      }
      .imageContainer>img{
        width: 200px;
        height: 200px;
      
      }
     
  .principle{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 10px;
   text-align: center;
    margin-bottom: 400px;
  }
  .principleImage>img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 80px;
  }
  .principle .principleDetails{
    width: 98%;
    line-height: 30px;
    font-size: 14px;
    color: gray;
  }

  .swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1;
  }

  .swiper-slide .title {
    font-size: 20px;
    font-weight: 300;
    
  }
  
  .swiper-slide .subtitle {
    font-size: 14px;
  }
  .h1{
    font-size: 20px;
  }
  
  .principleDetails>h1{
    font-size: 20px;
  }
  .principleDetails>p{
    font-size: 12px;
  }
  .teacherContainer>h1{
    font-size: 18px;
  }
}
  